
$ltblue : #ADD8E6;
$dkblue:#3a3ad1;
$yellow: #c1be00;
$milonga: 'Milonga', cursive;
@import "compass";
@import url("http://fonts.googleapis.com/css?family=Milonga");


@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 60rem) { @content; }
  }
  @else if $point == medium { /* If you change the min-width be sure to change it in header.php above header block */
    @media (min-width:60rem) { @content; }
  }
  @else if $point == small {
    @media (min-width: 19.5em)  { @content; }
  }
}

@media screen{
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  html { 
    font-size: 62.5%; 
  }
  a{
    color:inherit;
    text-decoration: none;
    @include single-transition(all, 0.4s, linear);
    &:hover{
      color:#ddd;
    }
    &:visited{
      color:inherit;
    }
  }

  h1,h2,h3,h4,h5,h6{
    @include single-transition(all, 0.4s, linear);
    font-family: $milonga;
  }

  nav{
    a, a:visited{
      font-family: $milonga;
      color:#111;
      
      &:hover{
        color:#ddd;
      }
    }
  }
  body{
  	font:1.4rem Helvetica, Arial, sans-serif;
  	*font-size:small; /* hack retained to preserve specificity */
  	color: #444;
  	min-width:340px;
  	margin:0 auto;
  }
}
/* Images */
img{
  max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
  height:auto;
  &[class*="align"], &[class*="wp-image-"]{
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
  }
  &.size-full{
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
  }
  &.tiny-logo{
    position:absolute;
    top:-30px;
    width:34px;
  }
}