
@import "reset";
@import "_global";

$header-height: 18rem;
$footer-height: $header-height;
.header-overlay, #secondary.widget-area, footer.site-footer{
		@include background(image-url("noisy-texture.png"));
}
body{

	header.site-header{
		height: 3.5em;
		width:100%;
		position:fixed;
		z-index: 2;

		.header-overlay{
			background-color:rgba(0,0,0,0.25);
			position:absolute;
			top:0;
			left:0;
			display: block;
			width:100%;
			height: 100%;
		}
		
		nav{
			position:fixed;
			right: 1px;
			&.main-navigation{
				text-align: right;
				float:right;
				width:auto;
				margin:0 1.5rem;
				ul.nav-menu{
					@include horizontal-list-container;
					> li{
						@include horizontal-list-item(0.5rem, right);
						a{
							color: inherit;
						}
					}
				}

			}
		}
		.site-branding{
			position:fixed;
			float:left;
			h1, h2{
				@include single-text-shadow(1px 1px 10px #777777);
			}
			h1{
				font-size: 2.2rem;
				a{
					color:none;
					text-decoration: none;
				}
			}
			h2{
				display: none;
			}

		}
		
	}

	#primary{
		position: relative;
		margin-top: 5rem;
		margin-bottom:$footer-height+3;/*footer:bottom + #secondary:bottom*/
		padding:1rem 0;
		background-color:#eee;
		@include single-box-shadow(rgba(51, 51, 51, 0.5), 0, 0rem, 1.5rem, 1rem, false);
		z-index: 1;
		main{
			padding:1em;
			width:100%;
			min-height: 55rem;
			img{
				background:#fff;
			}
			
			article, nav.post-navigation, #comments{
				//background-color:rgba(255, 255, 255, 0.8);
				background-color:rgba(0,0,0,0.4);
				padding:1rem 1rem 0;
				color:#ddd;
			}

		}
	}

	#secondary.widget-area, footer.site-footer{
		position:fixed;
		max-height: $footer-height;
		width:100%;
		bottom:2em;
		left:0;
		padding-top:1rem;

		aside{
			float:left;
			&#search{
				width:100%;
				clear:both;
			}
		}
	}
	footer{
		&.site-footer{
			bottom:1em;

		}
	}
	@include breakpoint(medium){
		#page{
			&.strip{
				.menu-toggle,
				.main-navigation.toggled .nav-menu {
					display: block;
				}

				.main-navigation ul {
					display: none;
				}
			}
			&:not(.strip){
				header.site-header{
					position:relative;
					z-index: 1;
					min-height: 17rem;
					.site-branding{
						position: absolute;
						top: 6rem;
						margin:1.5rem;
						text-align: center;
						h1{
							font-size: 4rem;
						}
						h2{
							display: block;
							font-size: 2rem;
						}
					}
				}
				#primary{
					margin-top:0 !important;
				}

			}
			
		}
		
	}
}

body.home article, body.gallery img{
	max-width:48%;
	min-width: 15rem;
	margin:0.5%;
	position: relative;
	float:left;
	z-index: 2;

	@include breakpoint(medium){
		width:30%;
	}
}
//body.single-format-gallery
body.home {
	#primary{
		main.site-main{
			padding:0 !important;
			
			article{
				padding:0 inherit;
				background-color:transparent;
				h1{

					display: block;
					margin:1.5rem 1rem;
					text-align: center;
					line-height: 1em;
					font-size:3rem;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
					@include force-wrap;
				}
				.front,.back{
					border:1px solid #333;
					background-color:#777;
					overflow: hidden;
				}
				#excerpt{
					font-size: 1.5rem;
					line-height: 1.5em;
					img{
						display: block;
						width:100%;
						margin:0 auto;
					}
					p{
						padding:0 1rem;
					}
				}

			}
		}
	}
}

	/* entire container, keeps perspective */
	.flip-container {
		@include perspective(1000);
	}
		/* flip the pane when hovered */
		.flip-container:hover .flipper, .flip-container.hover .flipper {
			@include transform(rotateY(180deg));
		}

	.flip-container, .front, .back {
		width: 100%;
		height: 100%;
	}
	/* flip speed goes here */
	.flipper {
		transition: 0.6s;
		@include transform-style(preserve-3d);
		position: relative;
	}
	.front{
		z-index: 2;
	}
	.back{
		@include transform(rotateY(180deg)); /* back, initially hidden pane */
	}
	.back, .front{
		position: absolute;
		top: 0;
		left: 0;
		@include backface-visibility(hidden);
	}
	a{
		text-decoration:none;
		color:inherit;
		font:inherit;
		&:hover{
			color: inherit;
		}

	}
	/* front pane, placed above back */
	#excerpt {
		display: block;
		width:100%;
		position: relative;
		
	}
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/*** End Isotope ***/
