
@import "reset";
@import "_global";

$header-height: 18rem;
$footer-height: $header-height;
.header-overlay, #secondary.widget-area, footer.site-footer{
		//@include background(image-url("noisy-texture.png"));
}
header.site-header, #primary{
	//@include single-box-shadow(rgba(51, 51, 51, 0.5), 0, 0rem, 1.5rem, 1rem, true);
	//@include box-shadow(0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.6), inset 0 -1rem 1.5rem 0rem rgba(0, 0, 0, 0.4));
	@include box-shadow(0 0.5rem 1rem 0rem #222);
}

body{

	header.site-header{
		height: 3.5em;
		width:100%;
		position:fixed;
		z-index: 3;
		background-attachment: scroll;
		background-size:cover;
		.header-overlay{
		//	background-color:rgba(255, 255, 255, 0.5);
		}
		a{
			text-decoration: none;
		}
		nav{
			position:relative;
			right: 1em;
			&.main-navigation{
				text-align:right;
				float:right;
				width:auto;
				margin-top:0.1rem;
				ul.nav-menu{
					@include horizontal-list-container;
					overflow: visible;
					> li{
						display: block;
						@include horizontal-list-item(0.5rem, left);
						@include single-transition(all, 0.4s, linear);
						font-size: 1.4rem;
						text-align: right;
						@include breakpoint(medium){
							font-size:2rem;
						}
					}
				}
			}
		}
		
		.site-branding{
			position:relative;
			left:1em;
			float:left;
			
			h1, h2{
				
				
			}
			h1{
				font-size: 2.2rem;
			}
			h2{
				display: none;
			}

		}
		nav.main-navigation, .site-branding{
			@include text-shadow(0em 0em 0.5em #fff);
		}
		
	}
	#page{
		&.strip{
			header.site-header{
				position:relative;
				z-index: 2;
				min-height: 17rem;
				background-attachment:fixed;
					background-size:auto;
				@include breakpoint(large){
					background-size:100%;	
				}
				
				.site-branding{
					position: absolute;
					top: 6rem;
					text-align: center;
					h1{
						font-size: 4rem;
					}
					h2{
						display: block;
						font-size: 2rem;
					}
				}
				nav{
					position:fixed;
				}
			}
			#primary{
				margin-top:0 !important;
			}
		}  
	}

	

	#primary{
		position: relative;
		margin-top: 5rem;
		margin-bottom:$footer-height+3;/*footer:bottom + #secondary:bottom*/
		padding:3rem 0 2rem;
		//background-color:#eee;
		z-index: 1;

			main{
				padding:0;
				//width:100%;
				min-height: 26rem;
				margin:1.5rem 0.5rem;
				background-color:rgba(0,0,0,0.4);
				@include single-box-shadow(rgba(0,0,0,0.4), 0, 0rem, 1rem, 1rem, false);
				@include box-shadow(inset rgba(0,0,0,0.4), 0, 0rem, 1rem, 1rem, false);
				img{
					background:#fff;
				}
				article, nav.post-navigation, #comments{
					max-width: 960px;
					width:100%;
					margin:0 auto;
					padding:1rem 1rem;
					color:#ddd;
				}
				article{
					header{
						h1.entry-title{
							font-size:2em;
						}
						.entry-meta{
							padding-left:1.5em;
							.byline{
								display: none;
							}
						}
					}
					div.sharedaddy{
						margin:1.5rem 0;
					}
					footer{
						display: none;
					}
				}
				#comments{
					h3.comment-reply-title{
						@include single-transition(all, 0.4s, linear);
						color:#111;
						border-bottom:1px solid #DDD;
						border-bottom:1px solid rgba(0, 0, 0, 0.13);
						margin: 0.5em 0;
						padding-bottom:0.2em;
						//cursor:hand;
						&:hover{
							color: #ddd;
						}
					}
					form.comment-form{
						margin-left:1.5em;
						//display: none;
						
					}
				}
			}
			nav.post-navigation{
				margin:2em 0 0;
			}
		
	}

	#secondary.widget-area, footer.site-footer{
		position:fixed;
		max-height: $footer-height;
		width:100%;
		bottom:2.5em;
		left:0;
		padding-top:1rem;

		aside{
			float:left;
			&#search{
				width:100%;
				clear:both;
			}
		}
	}
	footer{
		&.site-footer{
			font-size: 1.6rem;
			text-align: center;
			bottom:1em;

		}
	}
}

body.home #primary main article, body.gallery img{
	max-width:48%;
	min-width: 15rem;
	margin:0.5%;
	position: relative;
	float:left;
	z-index: 2;

	@include breakpoint(medium){
		width:31.5%;
	}
}
//body.single-format-gallery
body.home {
	#primary{
		padding:1.5rem 0;
		main.site-main{
			@include single-box-shadow(transparent);
			background-color:transparent;	
			article{
				padding:0;
				background-color:transparent;
				
				
				h1{
					/*position:absolute;
					top:30%;
					display: block;
					width:100%;
					*/
					text-align: center;
					line-height: 1em;
					font-size:3rem;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
				}
				.front,.back{
					
					//border:1px solid #333;
					background-color:#777;
					overflow: hidden;

					&.title, >a {
							@include display-box;
							@include box-pack(center);
							@include box-align(center);
					}
				}

				#excerpt{
					
					font-size: 1.5rem;
					line-height: 1.5em;

					img{
						display: block;
						max-width: 100%;
						width:100%;
						margin:0 auto;
					}
					p{
						padding:1rem;
					}
					
				}

			}
			.front, .back{
			//	@include border-radius(1rem);
				@include box-shadow(0 0 0.2rem #000);
			}
		}
	}
}

	